{# {% block offcanvas %}
	{% if page.offcanvas %} #}
			{# {% include "@organisms/side-menu.twig" %} #}
{# 	{% endif %}
{% endblock %}
 #}
{{page.offcanvas}}
{{page.header}}
{# {% include "@organisms/site-header.twig" %} #}
<main class="l-container {# debug #}">
  {% block content %}
    {{ page.content }}
  {% endblock %}
</main>
{% if page.content_bottom %}
	{{ page.content_bottom }}
{% endif %}
{% if page.highlighted %}
	{{ page.highlighted }}
{% endif %}
{% if page.footer %}
	{{ page.footer }}
{% endif %}