<article{{ attributes.addClass('l-main') }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}


  {% set title_not_empty = content.field_title|render|trim is not empty %}
  {% if title_not_empty %}
    {{ content.field_title }}
  {% else %}
    {{ label }}
  {% endif %}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  {{ content.field_summary }}
  {{ content.field_content_body }}

{#   <div{{ content_attributes.addClass("test_class") }}>
    {{ content|without('field_title','field_seo_title','field_summary','field_content_body') }}
  </div>
 #}
</article>